@model StudentModel

@{
    ViewData["Title"] = "Login info..";

}

@* <h2>Вы зышли как @ViewBag.Id.</h2> *@
<h2>Вы зышли как @Model.Id.</h2>
<h2>Факультет: @Model.Department</h2>
<h2>Grade: @Model.Grade</h2>