@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<environment names="Development,Dev">
    <h2>Development Stage!</h2>

</environment>
@{
    Random random  = new Random();
    int r = random.Next(1, 333333333);
}

<h3>@r - @DateTime.Now.ToLongTimeString()</h3>
<cache expires-after="@TimeSpan.FromMinutes(1)">
<h3>@r - @DateTime.Now.ToLongTimeString()</h3>
</cache>


<environment names="Production,Prod">
    <h2>Добро пожаловать!</h2>

</environment>